.__context_frame {
  position: fixed;
  z-index: 1000;
  min-width: 150px;
  height: fit-content;
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  user-select: none;
  color: #666;
  visibility: hidden;
}

.dark .__context_frame {
  background-color: #333;
  color: #666;
  box-shadow: 0 0 0 1px #666;
}

.__context_frame_div {
  height: 1px;
  background-color: rgba(194, 194, 194, 0.3);
}

.__context_frame_div,
.__context_frame_item {
  position: relative;
  display: block;
  border-radius: 3px;
}

.__context_frame_item {
  padding: 3px 5%;
  transition: 0.3s color cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.__context_frame_item .material-icons-round {
  margin-right: 5px;
}

.__context_frame_item:hover {
  color: #111;
}

.dark .__context_frame_item:hover {
  color: #f0f0f0;
}

.__context_frame_item p {
  display: flex;
  display: -webkit-flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.__context_bg {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  visibility: hidden;
  cursor: pointer;
}
