.dark {
  background-color: #242424;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
    color: white;
  }
}

.jua {
  font-family: "Jua";
}

.kr {
  font-family: "Noto Sans KR", sans-serif;
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(32, 32, 32, 0.3);
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#PLEASE_STOP_USE_INTERNET_EXPLORER {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background-color: rgba(51, 51, 51, 0.5);
  text-align: center;
  color: white;

  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  hr {
    border: 1px solid rgba(211, 211, 211, 0.3);
  }

  h3 {
    font-weight: 100;
  }
}

._cur_point {
  cursor: pointer;
}

.offline_popup {
  position: fixed;
  display: none;
  width: fit-content;
  height: 55px;
  bottom: 15px;
  background-color: #fff;
  color: #000;
  right: 15px;
  z-index: 105;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 16px rgba(158, 158, 158, 0.3);
  padding: 5px 20px;
  animation: disappear_popup 1s cubic-bezier(0.19, 1, 0.22, 1) 4s;
}

.dark .offline_popup {
  background-color: #323232;
  color: #fff;
  box-shadow: 0px 0px 16px rgba(58, 58, 58, 0.6);
}

.offline_popup .material-icons,
.offline_popup .material-icons-round {
  height: fit-content;
  margin: auto;
  margin-right: 15px;
}

.offline_popup .hide {
  display: none;
}

.offline_popup .show {
  display: block;
}

@keyframes disappear_popup {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

$active-color: rgb(0, 140, 255);

._btn_class_fl {
  display: block;
  padding: 10px 25px;
  border: 1px solid #a0a0a0;
  box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.3);
  border-radius: 5px;
  color: $active-color;
  background-color: transparent;
  border: 1px solid opacify($active-color, 0.03);
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 5px;
  outline: none;
  transition: 0.4s all cubic-bezier(0.19, 1, 0.22, 1);
}

._btn_class_fl:hover {
  color: opacify($active-color, 0.8);
  background-color: rgba(199, 199, 199, 0.5);
}

._btn_class_fl:active {
  color: opacify($active-color, 0.5);
  background-color: rgba(168, 168, 168, 0.5);
}

._btn_class_fl:disabled {
  color: #afafaf;
  background-color: rgba(111, 111, 111, 0.1);
  border: 1px solid #c5c5c5;
}

.dark ._btn_class_fl,
._btn_class_fl:focus {
  border: 1px solid #0077ff;
}

.dark ._btn_class_fl {
  color: #e9e9e9;
  background-color: #494949;
  border: 1px solid #e9e9e9;
}

.dark ._btn_class_fl:hover {
  color: #e9e9e9;
  background-color: rgb(94, 94, 94);
}

.dark ._btn_class_fl:active {
  color: #e9e9e9;
  background-color: rgb(117, 117, 117);
}

.dark ._btn_class_fl:disabled {
  color: #e9e9e9;
  background-color: rgba(99, 99, 99, 0.3);
  border: 1px solid #afafaf;
}

.tx_wlink {
  color: rgb(0, 132, 255);
  text-decoration: none;
  transition: 0.3s color cubic-bezier(0.19, 1, 0.22, 1);
}

.dark .tx_wlink:visited {
  color: rgb(101, 211, 255);
}

.tx_wlink:visited {
  color: rgb(57, 159, 255);
}

.dark .tx_wlink:hover {
  color: rgb(47, 155, 255);
}

.tx_wlink:hover {
  color: rgb(53, 138, 218);
}

.dark .tx_wlink:active {
  color: rgb(68, 165, 255);
}

.tx_wlink:active {
  color: rgb(37, 114, 185);
}

.dark {
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.3);
  }

  ::-webkit-scrollbar {
    width: 12px;
    position: absolute;
    background-color: rgba(32, 32, 32, 0.3);

    @media screen and (max-width: 800px) {
      width: 3px;
    }
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.3);
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(241, 241, 241, 0.7);
}

::-webkit-scrollbar {
  width: 12px;
  position: absolute;
  background-color: rgba(185, 185, 185, 0.3);

  @media screen and (max-width: 800px) {
    width: 3px;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(201, 201, 201, 0.3);
}
