.dark {
  background-color: #242424;
  color: white;
}

@font-face {
  font-family: "BMJUA";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BMJUA.woff2") format("woff2"),
    url("../fonts/BMJUA.woff") format("woff"),
    url("../fonts/BMJUA.otf") format("otf");
}
