@import '../../transitions.scss';
@import './tabs.scss';

@keyframes llct-icon-animation {
  0% {
    opacity: 0;
    transform: rotateY(30deg) translateX(-10px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: rotateY(0deg);
  }
}

.llct-icon {
  position: absolute;
  left: 5vw;
  top: 4vh;

  width: 56px;
  height: 56px;
  z-index: 100;

  user-select: none;

  &:hover {
    transform: scale(1.1);
  }

  cursor: pointer;

  -webkit-perspective: 100px;
  perspective: 100px;

  animation: llct-icon-animation 1s $easeOutExpo;
}
