@import "../../transitions.scss";

.llct-icon {
  position: fixed;
  left: 5vw;
  top: 4vh;

  width: 56px;
  height: 56px;
  z-index: 100;

  user-select: none;
  transition: 0.23s transform $easeOutExpo;

  &:hover {
    transform: scale(1.1);
  }

  cursor: pointer;
}
