.llct-call {
  position: relative;
}

.llct-call-line {
  display: table;
  margin: 0;
}

.llct-call-word {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: bold;

  transition-property: opacity, color;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.3s;
  color: #8d9194;

  &[data-passed='true'] {
    transition-duration: 0.3s !important;
  }
}

$color-normal: #666b6b;
$color-normal-active: #3c4949;
$color-normal-dark: #d6e9f3;
$color-normal-dark-active: #33b4f7;
$color-call: #28c335;
$color-comment: #499797;
$color-sing-along: #0a8bf5;
$color-sing-along-dark: lighten(#0a8bf5, 10);

$color-passed: white;

.llct-call-word[data-type='0'] {
  color: $color-normal;
  text-shadow: 0px 0px 4px var(--text-color, unset);

  &[data-passed='true'] {
    color: lighten($color-normal, 20);
    text-shadow: 0px 0px 2px var(--text-color, unset);
  }

  &[data-active='true'] {
    color: var(--text-color, $color-normal-active);
    text-shadow: unset;
  }
}

.llct-dark .llct-call-word[data-type='0'] {
  color: $color-normal-dark;

  &[data-passed='true'] {
    color: darken($color-normal-dark, 30);
  }

  &[data-active='true'] {
    color: var(--text-color, $color-normal-dark-active);
    text-shadow: unset;
  }
}

.llct-call-word[data-type='1'] {
  color: $color-call;

  &[data-passed='true'] {
    color: lighten($color-call, 20);
  }
}

.llct-dark .llct-call-word[data-type='1'] {
  color: $color-call;

  &[data-passed='true'] {
    color: darken($color-call, 20);
  }
}

.llct-call-word[data-type='2'] {
  color: $color-comment;

  &[data-passed='true'] {
    color: lighten($color-comment, 20);
  }
}

.llct-dark .llct-call-word[data-type='2'] {
  color: $color-comment;

  &[data-passed='true'] {
    color: darken($color-comment, 20);
  }
}

.llct-call-word[data-type='3'] {
  color: $color-sing-along;

  &[data-passed='true'] {
    color: lighten($color-sing-along, 20);
  }
}

.llct-dark .llct-call-word[data-type='3'] {
  color: $color-sing-along;

  &[data-passed='true'] {
    color: darken($color-sing-along, 10);
  }
}

.llct-call-word[data-passed='true'] {
  opacity: 0.5;
}

.llct-call-word[data-active='true'] {
  opacity: 1;
  color: $color-passed;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}

.llct-dark .llct-call-word[data-active='true'] {
  opacity: 1;
  color: $color-passed;
}
