$background: #eff5fd;
$accent: #128bf4;
$accent-strong: #0877f7;
$semi-accent: #bfe0f2;

$dark-background: #0b1929;
$dark-accent: #16ABF4;
$dark-accent-strong: $accent-strong;
$dark-semi-accent: #0f4163;
