$background: #eff5fd;
$accent: #128bf4;
$accent-strong: #0877f7;
$semi-accent: #bfe0f2;
$light-blue-accent: #81bbdb;

$dark-background: #0b1929;
$dark-accent: #16abf4;
$dark-accent-strong: $accent-strong;
$dark-semi-accent: #0f4163;
$dark-light-blue-accent: #032740;
