$background: #eff5fd;
$accent: #35a9ea;
$accent-strong: #118fea;
$semi-accent: #bfe0f2;

$dark-background: #142A44;
$dark-accent: $accent;
$dark-accent-strong: $accent-strong;
$dark-semi-accent: #1B5575;
