$shadow-0dp: none;
$shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$shadow-2dp: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$shadow-3dp: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
$shadow-4dp: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$shadow-5dp: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
$shadow-6dp: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(211, 191, 191, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);

$defaultCubic: cubic-bezier(0.5, 0.3, 0.2, 0.9);
$standard-ease: cubic-bezier(0.4, 0, 0.2, 1);
$decelerate-ease: cubic-bezier(0, 0, 0.2, 1);
$accelerate-ease: cubic-bezier(0.4, 0, 1, 1);

$font: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;

$tablet: 768px;
$desktop: 1024px;

$menu-height: 62px;
$menu-width: 100px;

$left-margin: 40px;

$title-mobile-mleft: 20px;
$title-mleft: 2vw;

$title-mbottom: 25px;

$app-width: 95%;
$app-mobile-width: 95%;

$mute: #757575;
