@import './colors.scss';
@import './normalize.scss';

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: 'swap';
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans CJK KR', -apple-system,
    BlinkMacSystemFont, 'Noto Sans KR', 'Segoe UI', Oxygen, Ubuntu,
    'Helvetica Neue', sans-serif;

  transition: 0.3s color cubic-bezier(0.19, 1, 0.22, 1),
    0.3s background cubic-bezier(0.19, 1, 0.22, 1);
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  width: 100%;
  height: 100%;
}

body {
  background: $background;
  color: $accent;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.llct-dark body {
  background: $dark-background;
  color: $dark-accent;
}

.no-transition {
  transition: unset;

  * {
    transition: unset;
  }
}
