@import "__global";

$dark-bg: #151515;

html,
body {
  margin: 0;
  font-family: $font;
  font-display: swap;
  width: 100%;
  height: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: 250ms background $standard-ease, 250ms color $standard-ease;
  background-color: #d1d1d1;
}

html.dark, .dark body {
  background-color: $dark-bg;
  color: #fff;
}

.app-wrap {
  transition: 250ms background $standard-ease;
  background-color: #fff;
  position: relative;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}

.dark .app-wrap {
  background-color: transparent;
}

.reduce-motion * {
  transition: unset !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  @media screen and (max-width: $desktop) {
  width: 2px;
  height: 2px; 
  }
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241);
  border: 0px none #ffffff;
  border-radius: 54px;
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78);
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121);
}

::-webkit-scrollbar-thumb:active {
  background: #d8d8d8;
}

.dark ::-webkit-scrollbar-thumb:active {
  background: rgb(146, 146, 146);
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 29px;
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
}
::-webkit-scrollbar-track:hover {
  background: #d3d3d3;
}

.dark ::-webkit-scrollbar-track:hover {
  background: #2b2b2b;
}

::-webkit-scrollbar-track:active {
  background: #bbbbbb;
}

.dark ::-webkit-scrollbar-track:active {
  background: #303030;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

llct-wait {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

llct-wait.done {
  visibility: hidden;
  opacity: 0;
}

llct-menu-wrap {
  left: 0;
  top: 0;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: $menu-height;
  background-color: #fff;
  z-index: 10;
  transition: 250ms transform $decelerate-ease, 250ms background $standard-ease,
    250ms color $standard-ease;

  @media screen and (max-width: $tablet) {
    box-shadow: 0px 0px 16px rgba(196, 196, 196, 0.16);
  }

  @media screen and (max-width: $desktop) {
    top: unset;
    bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    width: $menu-width;
    height: 100vh;
  }
}

.dark llct-menu-wrap {
  background-color: #151515;
  color: #fff;

  @media screen and (max-width: $tablet) {
    box-shadow: unset;
  }
}

llct-menu-wrap.hidden {
  transition: 250ms transform $accelerate-ease;

  @media screen and (max-width: $tablet) {
    transform: translateY(calc(#{$menu-height} + 10px));
  }
}

llct-menu-wrap:hover .m-button p {
  opacity: 0.6;
}

llct-menu-wrap .m-button:active p {
  opacity: 1;
}

llct-menu-wrap::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 16px rgba(196, 196, 196, 0.16);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark llct-menu-wrap::after {
  box-shadow: 0px 0px 16px rgba(27, 27, 27, 0.66);
}

llct-menu-wrap:hover::after {
  opacity: 1;
}

.llct-menu-in {
  margin: auto;
  text-align: center;

  @media screen and (max-width: $desktop) {
    width: 90%;
    height: 80%;
    display: -webkit-flex;
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    height: 80%;
    width: unset;
    width: -webkit-fill-available;
  }
}

llct-app-wrap {
  left: 0;
  height: calc(95% - #{$menu-height});
  width: $app-width;
  margin: auto;
  position: absolute;
  display: block;

  @media screen and (max-width: $desktop) {
    width: $app-mobile-width;
    margin-left: calc((100% - #{$app-mobile-width}) / 2);
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
    left: calc(#{$menu-width} + #{$left-margin});
    width: calc(#{$app-width} - (#{$menu-width} + #{$left-margin}));
  }
}
