html.editor
  head
    title Karaoke Editor
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='theme-color', content='#242424')
    link(rel='stylesheet', href='./yosoro.min.css')
    link(rel='shortcut icon', href='//cdn.lovelivec.kr/data/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanskr.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosansjp.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://unpkg.com/wavesurfer.js')
    script(src='https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js')
    script(src='https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.min.js')
    script(src='./js/global.min.js')
    script(src='./js/lib/chillout.min.js')
    script(src='./js/logger.min.js')
    script(src='./js/editor.min.js')
    script(src='./js/karaoke.min.js')
  body
    .hide
      input#fInput(type='file', accept='application/json')
    .edit_nav
      .nav_actions
        button#playpause_audio.nav_btn(onclick='wavesurfer.playPause()')
          i.material-icons play_arrow
        button#stop_audio.nav_btn(onclick='wavesurfer.playPause()')
          i.material-icons stop
        button#export.nav_btn(onclick='KaraokeEditor.Export(window.karaokeData)')
          i.material-icons cloud_download
        button#import.nav_btn(onclick="$('#fInput').click()")
          i.material-icons cloud_upload
        button#mute_btn.nav_btn
          i.material-icons volume_up
      .nav_space
      .nav_status
        button.nav_btn.dat_only
          span#current_time 00:00:00
          |  / 
          span#duration 00:00:00
          |  [
          span#frame_tick 0
          | ]
        button#metadata_select.nav_btn.selected_btn(onclick='switchTab(0)')
          | metadata
        button#timeline_select.nav_btn(onclick='switchTab(1)')
          | timeline
    .wave_wrapper(onkeydown='e.preventDefault();return false;')
      #waveform
    .top_content
      #metadata_editor.center_divier.page.currentPage
        .editor_settings
          h1.kr 에디터
          p.kr 에디터 설정 값입니다.
          p
            | 재생 속도
            input#playback_rate.blackInput(type='number', value='1', onchange='wavesurfer.setPlaybackRate(this.value)')
          p
            | 보정값
            input#correcttime.blackInput(type='number', value='-10', onchange='window.karaokeData.metadata.correction_time = Number(this.value)')
          br
        .title_settings
          h1.kr 파일
          p.kr 파일 메타데이터 설정입니다.
          p
            | 제목
            input#title_meta.blackInput(type='text', value='', onchange='window.karaokeData.metadata.title = this.value')
          p
            | 가사, 싱크 작성자
            input#writter_meta.blackInput(type='text', value='', onchange='window.karaokeData.metadata.writter = this.value')
          p
            | 블레이드 추천 HEX 값
            input#blade_hex_meta.blackInput(type='color', value='#000', onchange='window.karaokeData.metadata.bladeColorHEX = this.value')
          p
            | 블레이드 추천 멤버
            input#blade_name_meta.blackInput(type='text', value='', onchange='window.karaokeData.metadata.bladeColorMember = this.value')
      #timeline_editor.center_divier.page.notCurrentpage
        .lyrics_write
          h1.kr 가사
          p.kr
            | !! 라인이 변경되면 해당 라인에 있던 속성 값이 모두 사라집니다. !!
          textarea#kashi_type.blackArea.kr(rows='15', onchange='Karaoke.SetTimelineData(Karaoke.MergeRender( karaokeData.timeline, Karaoke.Render(this.value)));KaraokeEditor.setLyrics(this.value);')
          br
          .editor_btncollec
            button.nav_btn(onclick="$('#kashi_type').val(decodeURI(encodeURI($('#kashi_type').val()).replace(/%20/gm, '%20%20')))")
              | 단일 공란 -> 2중 공란
            button.nav_btn(onclick="$('#kashi_type').val(decodeURI(encodeURI($('#kashi_type').val()).replace(/%20%20/gm, '%20')))")
              | 2중 공란 -> 단일 공란
            button.nav_btn(onclick="$('#kashi_type').attr('disabled', !$('#kashi_type').attr('disabled') )")
              i.material-icons lock
              |  편집 잠금
        .lyrics_render
          h1.kr 렌더링
          #karaoke.karaoke.kr
            | 렌더링 된 결과가 여기에 표시됩니다.
        .lyrics_property
          h1.kr 속성
          p 선택된 단어들의
          p
            | 시작 시간
            input#start_time_val.blackInput(type='number', disabled='', onchange="KaraokeEditor.EditVal( 'start_time', this.value)")
          p
            | 종료 시간
            input#end_time_val.blackInput(type='number', disabled='', onchange="KaraokeEditor.EditVal( 'end_time', this.value)")
          p
            | 발음 시간
            input#pron_time_val.blackInput(type='number', disabled='', onchange="KaraokeEditor.EditVal( 'pronunciation_time', this.value)")
          p
            | 종류
            input#type_val.blackInput(type='number', disabled='', onchange="KaraokeEditor.EditVal( 'type', this.value)")
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111995531-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-111995531-2");
