html
  head
    title LoveLive! Call Table
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#e039e0')
    link(rel='stylesheet', href='./yosoro.min.css')
    link(rel='shortcut icon', href='//cdn.lovelivec.kr/data/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanskr.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosansjp.css')
    link(rel='stylesheet', href='./data/photoswipe/default-skin/default-skin.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js')
    script(src='./js/lib/photoswipe.min.js')
    script(src='./js/lib/photoswipe-ui-default.min.js')
    script(src='./js/global.min.js')
    script(src='./js/index.min.js')
  body
    .pg_content
      h1.kr.title(onclick="clearSearch(' ')")
        span.ll_brand LoveLive!
        |  Call Table
      input#search_box.kr(type='text', name='search', onkeyup='searchFiltering(this.value)', placeholder='악곡 제목 or 약자')
      button.btn_gap(onclick="searchFiltering(document.getElementById('search_box').value)") 검색
      br
      br
      .options
        label.ckbox
          | 번역된 제목으로 보기
          input#showAs_translated(type='checkbox', checked='none', onclick='changedTranslateOption()')
          span.checkmark
        label.ckbox
          | 배경 이미지 숨기기
          input#hideBGImage(type='checkbox', checked='none', onclick='changedImageOption()')
          span.checkmark
      hr
      .popup
        p 현재 콜에 누락된 부분과 오류가 있을 수 있으며 업데이트 예정입니다. 그 전까지는 참고용으로 봐주시길 바랍니다.
      #search_rest.search_results
        h1.kr.ooki 검색 결과가 없습니다.
    p.centerize
      a(href='https://gall.dcinside.com/sunshine/')  Love Live! Call Table by 러브라이브! 선샤인!! 마이너 갤러리
      |          ・ 
      a(href='https://github.com/So-chiru/LLCT') Github
    .pswp(tabindex='-1', role='dialog', aria-hidden='true')
      .pswp__bg
      .pswp__scroll-wrap
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            .pswp__counter
            button.pswp__button.pswp__button--close(title='닫기 (Esc)')
            button.pswp__button.pswp__button--fs(title='전체 화면')
            button.pswp__button.pswp__button--zoom(title='확대')
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__caption
            .pswp__caption__center
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111995531-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-111995531-2');
