html(lang="kr").index
    head
        title LLCT
        meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=0.8')
        meta(name='theme-color' content='#44caff')
        meta(name="description" content="러브라이브! 선샤인!! 팬미팅, 직관, 뷰잉 콜에 도움이 되는 콜표 모음 사이트입니다.")
        meta(name="tags" content="러브라이브,콜표,선샤인,럽샤인,아쿠아,뮤즈,니지가사키,μ's,Aqours,虹ヶ咲,러브라이브 콜표, 러브라이브 선샤인 콜표")
        meta(meta name="apple-mobile-web-app-capable" content="yes")
        meta(meta name="apple-mobile-web-app-title" content="러브라이브! 콜표")
        meta(meta name="apple-mobile-web-app-status-bar-style" content="light")
        meta(meta name="application-name" content="러브라이브! 콜표")
        link(rel="canonical" href="https://lovelivec.kr/")
        meta(name="google-site-verification" content="w85-Ql8huyk6kbiwYBTHhbOBtAW-awQKR--_7QI5Cgw")
        link(rel="manifest" href="/manifest.json")
        link(rel="apple-touch-icon" href="/data/favicon/logo_v2.png")
        link(rel="dns-prefetch" href="https://fonts.gstatic.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous")
        link(rel='preload stylesheet' href='./yosoro.min.css' as='style')
        link(rel='shortcut icon' href='/data/favicon.ico' type='image/x-icon')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Round|Jua|Noto+Sans+KR:100,500,900" media="none" onload="this.media='all';")
        link(rel="stylesheet" href="/lib/ps/photoswipe.css" media="none" onload="this.media='all';")
        link(rel="stylesheet" href="/lib/ps/default-skin/default-skin.css" media="none" onload="this.media='all';")
    body
        div#curt(style="display:flex;position:fixed;width:100%;height:100%;z-index:1000;transition:.65s cubic-bezier(.19,1,.22,1);background-color:#44caff;")
            .inr(style="margin:auto;position:relative;text-align:center;")
                h1 LLCT
                h3 LoveLive! Call Table Guide
        llct-pl-bg#pl_bg(onclick="yohaneNoDOM.chiisakuni()")
        llct-pl.hide
            .color_layer#cl_layer_player
            .grey_layer
            .dash_wrapper#dash_wrp_ham(data-scrollbar)
                .visible_dash
                    .info
                        img#album_meta.c.cover
                        .info_txts
                            p#title_meta.c.title 브로콜리
                            .c.diver.spaRight
                            p#artist_meta.c.artist 세이라
                        .c.diver.after_div
                    .timeline
                        p#played_time.c.mga 0 : 00
                        #ctrl_times.c.__progress
                            .passed_bar#psd_times
                            .max_bar.__buf#bar_eventListen
                            .thumb#__current_thumb
                        p#left_time.c.mga - 4 : 59
                    .ctrls
                        span#pp_btn.material-icons-round.mat-icon-hover-anime(onclick="yohane.toggle()" title="노래 재생") play_arrow
                        span#tick_btn.material-icons-round.in_active.mat-icon-hover-anime(onclick="KaraokeInstance.toggleTickSounds()" title="콜에 틱 소리 내기") alarm
                        span#pl_loop.material-icons-round.in_active.mat-icon-hover-anime(onclick="yohane.toggleLoops()" title="(현재 노래 / 플레이 리스트) 반복 / 순차 재생") loop
            .lyrics_wrapper#lyrics_wrap
                .lyrics_wrapper-inner#lyrics_wrap_inner
                    .offline_replacer#_of_ric
                        span.material-icons-round offline_bolt
                        p.anon 인터넷에 연결할 수 없거나 콜표가 없습니다. 이전에 저장된 데이터를 사용합니다.
                        span.mute (저장된 데이터가 없으면 빈칸으로 표시됩니다.)
                        br
                    llct-pl-infotext.llct-pl-infdp
                        | 블레이드 추천 색상 : 
                        span.blade_indic#blade_color 자유
                    llct-pl-infotext#prv_warn 미리 보기 버전입니다. 모두 작성을 완료한 후에는 에디터에서 다운로드 버튼을 누른 후 업로드 해 주세요.
                    llct-pl-infotext#sing_tg 이 곡은 떼창 곡입니다. 지시에 맞게 따라 불러주세요.
                    llct-pl-infotext#furicopy_tg 곡 중간에 안무를 따라 하는 부분이 있을 수 있습니다.
                    llct-pl-infotext#performed_tg 이 곡은 라이브 된 적이 없습니다. 콜이 틀릴 수도 있으니, 참고용으로만 봐주세요.
                    .karaoke#karaoke
                    p.bottom_margin
            audio#kara_audio
            audio#tick_sounds(src="/live_assets/key-press-2.mp3")
        #__context_bg.__context_bg(onclick="vertialMenusContext.closeContext()")
        #__context_frame.__context_frame
            .__context_frame_item(onclick="vertialMenusContext.act('shuffleMusic')")
                p <span class="material-icons-round">shuffle</span> <span>셔플 재생</span>
            .__context_frame_item(onclick="vertialMenusContext.act('openSettings')")
                p <span class="material-icons-round">settings</span> <span>설정</span>
            .__context_frame_div
            .__context_frame_item(onclick="vertialMenusContext.act('openCalendar')")
                p <span class="material-icons-round">exit_to_app</span> <span>럽라 캘린더</span>
        .contents_collection
            .full_page_ct#fp_ct
                .header
                    .titles
                        span <span id="genki_year">2017</span>년 <span id="zenkai_month">11</span>월 <span id="day_day">18</span>일 <span id="day">18</span>요일
                        h1#p_title 노래 목록
                    .tabs
                        span#group_selection_btn.ti.group_btn(onclick="LLCT.showLayer(1)") Aqours
                        .spacer_more
                            .spacer_more
                            span#more_vertical_options.ti.vtl_ko <span class="material-icons-round mat-icon-hover-anime pd_onhover">more_vert</span>
                .lds-ellipsis.loader#loading_spin_ctlst
                    div
                    div
                    div
                    div
                //-p.playlist_text 플레이리스트 "Noto Sans"            
                ._card_lists#_card_lists
                .navigator
                    span.nav_arrow_wrap(onclick="pageAdjust.prevPage()") <i class="material-icons-round arrow_btn thin mat-icon-hover-anime general_trans pd_onhover" alt="<">keyboard_arrow_left</i>
                    span.pg_ind <span class="thin _cur_point" id="currentPage" class="thin" onclick="LLCT.jumpToPageDialog()">1</span> <span>/</span> <span class="black" id="totalPage">1</span>
                    span.nav_arrow_wrap(onclick="pageAdjust.nextPage()") <i class="material-icons-round arrow_btn thin mat-icon-hover-anime general_trans pd_onhover" alt=">">keyboard_arrow_right</i>
        .screen_layer#switch_layer.hide
            .close_btn(onclick="LLCT.hideLayer(1)")
                p <i class="material-icons-round">close</i>
            .layer_sc
                h1 그룹
                br
                .group_grid
                    ._btn_groupSl(onclick="LLCT.selectGroup(0)")
                        img.lazy.group_icon(data-src="/live_assets/us.png")
                    ._btn_groupSl(onclick="LLCT.selectGroup(1)")
                        img.lazy.group_icon(data-src="/live_assets/aqours.png")
                    ._btn_groupSl(onclick="LLCT.selectGroup(2)")
                        img.lazy.group_icon(data-src="/live_assets/niji.png")
        .screen_layer#setting_layer.hide
            .close_btn(onclick="LLCT.hideLayer(0)")
                p <i class="material-icons-round">close</i>
            .layer_sc
                h1 설정
                br
                .toggle_collection
                    label.ckbox 번역된 제목으로 보기 <input id="showAs_translated" class="toggle_input" type="checkbox" checked="none"> <label for="showAs_translated" class="toggle_btn"><span></span></label>   
                .toggle_collection
                    label.ckbox 다크 모드 <input id="darkMode" class="toggle_input" type="checkbox" checked="none"><label for="darkMode" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 동작 줄이기 <input id="reduceMotion" class="toggle_input" type="checkbox" checked="none"><label for="reduceMotion" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 사용 가능한 경우 인터렉티브 콜표 사용 (미사용시 콜표 이미지를 대신 표시) <input id="useInteractiveCall" class="toggle_input" type="checkbox" checked="none"><label for="useInteractiveCall" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 음악 플레이어 끄기 (활성시 콜표 이미지만 표시) <input id="doNotUseMusicPlayer" class="toggle_input" type="checkbox" checked="none"><label for="doNotUseMusicPlayer" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox Use Romaji Instead of Hangul <input id="useRomaji" class="toggle_input" type="checkbox" checked="none"><label for="useRomaji" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 앨범 이미지 사용 <input id="useAlbumImage" class="toggle_input" type="checkbox" checked="none"><label for="useAlbumImage" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 플레이어 배경 색상 사용 <input id="useAmbientBackground" class="toggle_input" type="checkbox" checked="none"><label for="useAmbientBackground" class="toggle_btn"><span></span></label>
                .toggle_collection
                    label.ckbox 오프라인 저장 사용 <input id="useOfflineSaving" class="toggle_input" type="checkbox" checked="none"><label for="useOfflineSaving" class="toggle_btn"><span></span></label>
                br
                button._btn_class_fl#offlineCacheClearBtn 오프라인 캐시 비우기
                br
                a.tx_wlink(href="https://github.com/So-chiru/LLCT/blob/master/LICENSE") Open Source License Notices
                br
                p 사이트 문의 Email: <a class="tx_wlink" href="mailto:call@lovelivec.kr">call＠lovelivec.kr</a>
        .screen_layer#call_layer.hide
            .close_btn(onclick="LLCT.hideLayer(2)")
                p <i class="material-icons-round">close</i>
            .layer_sc
                .titles
                    h1#popup_kara_title Thank you, FRIENDS!!
                .popup_karaoke#popup_karaoke
        <div id="ps_wp" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
        llct-pop
            span#__popup_icon.material-icons-round offline_bolt
            p#__popup_txt 오프라인 상태입니다. 온라인일 때 미리 저장된 데이터를 사용합니다.
        style.
            .material-icons-round { font-family: 'Material Icons Round', 'Noto Sans KR', 'Noto Sans CJK KR', 'NanumGothic'; }
        script(defer src="/lib/ps/photoswipe.min.js")
        script(defer src="/lib/ps/photoswipe-ui-default.min.js")
        script(src='./lib/aj/anime.min.js')
        script(src='./lib/tt/tether.min.js')
        script(src='./js/lib/hammer.min.js')
        script(src='./js/karaoke.min.js')
        script(src='./lib/ct/color-thief.min.js' async)
        script(src="./lib/one.js")
        script(src='./js/lib/context.min.js')
        script.
            if (/* @cc_on!@ */ false || !!document.documentMode) window.location.href = 'https://browser-update.org/ko/'
        script(src='./js/global.min.js')
        script(src='./js/options.min.js')
        script(src='./js/index.min.js')
        script(async src='./lib/kr/aromanize.js')
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-111995531-2')