html.index
  head
    title LoveLive! Call Table
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#e039e0')
    meta(meta name="apple-mobile-web-app-capable" content="yes")
    meta(meta name="apple-mobile-web-app-title" content="러브라이브! 콜표")
    meta(meta name="apple-mobile-web-app-status-bar-style" content="light")
    meta(meta name="application-name" content="러브라이브! 콜표")
    link(rel="apple-touch-icon" href="/data/favicon/logo.png")
    link(rel='stylesheet', href='./yosoro.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.css')
    link(rel='shortcut icon', href='//cdn.lovelivec.kr/data/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanskr.css' media="none" onload="if(media!='all')media='all'")
    link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosansjp.css' media="none" onload="if(media!='all')media='all'")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Jua' media="none" onload="if(media!='all')media='all'")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js')
    script(src='./js/new_index.min.js')
    script(src='./js/global.min.js')
    script(async src='./js/lib/chillout.min.js')
    script(async src='./js/karaoke.min.js')
    script(async src='./js/viewer.min.js')
  body
    .fullpage#fg_element
        .section.main
            .main_contents
                h1 LLCT
                svg.line_svg(data-type="Line")
                    path.line_svg_class#__3(d="M 0 0 L 323 0")
                h3 LoveLive! Call Table Guide
        .section.lists
            .full_page_ct
                span 2019년 2월 17일
                h1 노래 목록
    .player.hide
        .info
            img#album_meta.c.cover(src="/data/10082/bg.png")
            p#title_meta.c.title Over The Next Rainbow
            .c.diver
            p#artist_meta.c.artist Saint Aqours Snow
        .timeline
            p#played_time.c 0 : 00
            input#ctrl_time.hareru.c(type="range", name="")
            p#left_time.c - 4 : 59
        .ctrls

        audio#kara_audio
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111995531-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-111995531-2');
    script.
        $(document).ready(function() {
            $('#fg_element').pagepiling({
                menu: null,
                direction: 'vertical',
                scrollingSpeed: 400,
                easing: 'cubic-bezier(0.19, 1, 0.22, 1)',
                navigation: {
                    'textColor': '#323232',
                    'bulletsColor': '#323232',
                    'position': 'right',
                    'tooltips': ['메인', '노래 목록']
                },
                anchors: ['main', 'lists'],
                sectionsColor: ['#3b3b3b', (cookieYosoro.get('tatenshi') === 'true') ? '#3b3b3b' : '#fff'],
                onLeave: (o,t,r) => { pagePlayerAnimation(o,t,r) }
            });
        });