html(lang="kr").index
  head
    title LLCT
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.8')
    meta(name='theme-color', content='#16aaf9')
    meta(name="description" content="러브라이브! 선샤인!! 팬미팅, 직관, 뷰잉 콜에 도움이 되는 콜표 모음 사이트입니다.")
    meta(name="tags" content="러브라이브,콜표,선샤인,럽샤인,아쿠아,Aqours")
    meta(meta name="apple-mobile-web-app-capable" content="yes")
    meta(meta name="apple-mobile-web-app-title" content="러브라이브! 콜표")
    meta(meta name="apple-mobile-web-app-status-bar-style" content="light")
    meta(meta name="application-name" content="러브라이브! 콜표")
    link(rel="canonical" href="https://lovelivec.kr/")
    link(rel="manifest" href="/manifest.json")
    link(rel="apple-touch-icon" href="/data/favicon/logo.png")
    link(rel="dns-prefetch" href="https://cdn.lovelivec.kr")
    link(rel="dns-prefetch" href="https://fonts.gstatic.com")
    link(rel="preconnect" href="https://cdn.lovelivec.kr")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous")
    link(rel='stylesheet', href='./yosoro.min.css')
    link(rel='shortcut icon', href='https://cdn.lovelivec.kr/data/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons' media="none" onload="this.media='all';")
    link(rel="preload" href="https://fonts.googleapis.com/css?family=Jua|Noto+Sans+JP:100|Noto+Sans+KR:100,900" as="fetch" crossorigin="anonymous" media="none" onload="this.media='all';")
    style.
        .hide_curtain {opacity:0;visibility: none;pointer-events: none;z-index: -1;}
  body
    div#curt(style="display:flex;top:0;left:0;position:fixed;width:100%;height:100%;z-index:1000;transition: 1s cubic-bezier(0.19, 1, 0.22, 1);background-color:#16aaf9;")
        .inr(style="margin: auto;position: relative;text-align: center;")
            h1 LLCT
            h3 LoveLive! Call Table Guide
    .__car_cent
        h3.__car_headtxt Call and Response
        .__car_diver
          p.yoshiko 츠시마 요시코 (CV. 코바야시 아이카)
          audio#yohane_player(src="/data/car/yohane.mp3" controls)
          #karaoke_tsushima
            p 오하요하네!
        .__car_diver
          p.ruby 쿠로사와 루비 (CV. 후리하타 아이)
          audio#ruby_player(src="/data/car/ruby.mp3" controls)
          #karaoke_kuroruby
            p 간바루비~
        .__car_diver
          p.hanamaru 쿠니키다 하나마루 (CV. 타카츠키 카나코)
          audio(src="/data/car/maru.mp3" controls)
          #karaoke_kunikida
            p 시맛타즈라..
        .__car_diver
          p.chika 타카미 치카 (CV. 이나미 안쥬)
          audio(src="/data/car/chika.mp3" controls)
          #karaoke_takami
            p 캉캉? 미카응!
        .__car_diver        
          p.you 와타나베 요우 (CV. 사이토 슈카)
          audio(src="/data/car/you.mp3" controls)
          #karaoke_watanabe
            p 젠소쿠 젠신?
        .__car_diver
          p.riko 사쿠라우치 리코 (CV. 아이다 리카코)
          audio(src="/data/car/riko.mp3" controls)
          #karaoke_sakurauchi
            p 비치 스케치?
        .__car_diver
          p.dia 쿠로사와 다이아 (CV. 코미야 아리사)
          audio(src="/data/car/dia.mp3" controls)
          #karaoke_kurodia
            p bubu desuwa
        .__car_diver
          p.kanan 마츠우라 카난 (CV. 스와 나나카)
          audio(src="/data/car/kanan.mp3" controls)
          #karaoke_matsuura
            p 다이부이이칸지
        .__car_diver
          p.mari 오하라 마리 (CV. 스즈키 아이나)
          audio(src="/data/car/mari.mp3" controls)
          #karaoke_ohara
            p Lock on~

    script(defer src="/lib/ps/photoswipe.min.js")
    script(defer src="/lib/ps/photoswipe-ui-default.min.js")
    script(async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.20.1/dist/lazyload.min.js")
    script(src='./lib/aj/anime.min.js')
    script(src='./lib/jquery.min.js')
    script(src='./js/global.min.js')
    script(src='./js/response.min.js')
    script(src='./js/lib/hammer.min.js')
    script(defer src='./js/karaoke.min.js')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-111995531-2')
    script.
        !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Jua|Noto+Sans+JP:100|Noto+Sans+KR:100,900",r="__3perf_googleFontsStylesheet";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);