$btn-width: 38px;
$btn-height: 20px;

.llct-checkbox {
  display: flex;
  cursor: pointer;

  position: relative;
  width: $btn-width;
  height: $btn-height;
  border: 1px solid rgba(170, 170, 170, 0.32);
  border-radius: 50px;

  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  .selected {
    position: absolute;
    width: ($btn-width / 2) + 1;
    height: ($btn-width / 2) + 1;
    border-radius: 50%;

    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.12);

    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.disabled {
    opacity: 0.3;
  }

  &[data-on='true'] {
    background-color: #35d08f;

    .selected {
      transform: translateX(($btn-width / 2) - 1);
    }
  }
}
