.llct-karaoke {
  position: relative;
  display: block;
}

.karaoke-line-wrap {
  position: relative;
  display: block;
}

.small .karaoke-line span {
  font-size: 14px;
}

.middle .karaoke-line span {
  font-size: 16px;
}

.big .karaoke-line span {
  font-size: 18px;
}

.karaoke-line {
  span {
    font-weight: bold;
    font-size: 16px;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }

    transition-duration: 330ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  span[data-active="0"] {
    transition-duration: 600ms !important;
  }

  span[data-type="1"] {
    color: #2d2d2d;
  }

  span[data-type="1"][data-passed="1"] {
    color: #afafaf;
  }

  span[data-type="2"] {
    color: #54c95e;
  }

  span[data-type="2"][data-passed="1"] {
    color: #b6e4ba;
  }

  span[data-type="3"] {
    color: #929da5;
  }

  span[data-type="3"][data-passed="1"] {
    color: #b6c5cf;
  }

  span[data-type="4"] {
    color: #22ade4;
  }

  span[data-type="4"][data-passed="1"] {
    color: #a3d9ee;
  }

  span[data-active="1"] {
    text-shadow: 0px 0px 4px #22ade4;
    color: #fff;
  }

  span[data-color] {
    opacity: 0.7;
  }

  span[data-color][data-active="1"] {
    opacity: 1;
  }

  span[data-color][data-passed="1"] {
    text-shadow: unset !important;
  }

  span[data-type="2"][data-active="1"] {
    text-shadow: 0px 0px 4px #54c95e;
    color: #fff;
    transform: rotate(5deg);
  }

  span[data-type="2"][data-active="1"][data-tick="0"] {
    text-shadow: 0px 0px 4px #54c95e;
    color: #fff;
    transition: 100ms all $standard-ease;
    transition-duration: 100ms !important;
  }

  span[data-type="2"][data-active="1"][data-tick="1"] {
    text-shadow: 0px 0px 4px #fff;
    color: #54c95e;
    transition: 100ms all $standard-ease;
    transition-duration: 100ms !important;
  }

  span[data-type="3"][data-active="1"] {
    text-shadow: 0px 0px 4px #929da5;
    color: #ffffff;
  }
}

.dark .karaoke-line {
  span[data-type="1"] {
    color: #979797;
  }

  span[data-type="1"][data-passed="1"] {
    color: #555555;
  }

  span[data-type="2"] {
    color: #3fc24a;
  }

  span[data-type="2"][data-passed="1"] {
    color: #38523a;
  }

  span[data-type="3"] {
    color: #6d7d7e;
  }

  span[data-type="3"][data-passed="1"] {
    color: #3c4347;
  }

  span[data-type="4"] {
    color: #27b2e9;
  }

  span[data-type="4"][data-passed="1"] {
    color: #274957;
  }

  span[data-active="1"] {
    text-shadow: 0px 0px 4px #22ade4;
    color: #fff;
  }

  span[data-color] {
    opacity: 0.7;
  }

  span[data-color][data-active="1"] {
    opacity: 1;
  }

  span[data-color][data-passed="1"] {
    text-shadow: unset !important;
  }
}

.karaoke-line .empty {
  margin-top: 16px;
  opacity: 0;
  user-select: none;
}

.karaoke-word em {
  position: absolute;
  font-size: 4px;
  text-align: center;
  margin-top: -5px;
}

.karaoke-line,
.karaoke-lyrics {
  margin: 0;
  display: block;

  span {
    display: inline-block;
    letter-spacing: -0.33px;
  }
}

.karaoke-line-wrap .karaoke-lyrics {
  font-weight: 300;
  margin-bottom: 7px;
}

.dark .karaoke-line-wrap .karaoke-lyrics {
  color: #969696;
}

.llct-karaoke .error {
  text-align: center;

  img {
    margin-bottom: 20px;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    color: #a0a0a0;
  }
}
