@import '../global';

.llct-karaoke {
  position: relative;
  display: block;
}

.karaoke-line-wrap {
  position: relative;
  display: block;

  &:last-child {
    margin-bottom: 50px;
  }
}

.karaoke-notice-wrap {
  display: flex;
  position: relative;
  overflow-x: scroll;

  margin-bottom: 13.3px;

  text-align: center;
}

.dark .karaoke-notice {
  background-color: #333;
}

.dark .karaoke-notice .notice-desc {
  color: #a2a2a2;
}

.karaoke-notice {
  background-color: #f9f9f9;
  display: block;
  position: relative;
  max-width: 500px;
  width: fit-content;
  min-width: 250px;
  border-radius: 18.3px;
  padding: 10.3px 16.6px;
  box-sizing: border-box;
  margin-right: 10.3px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  p {
    margin: 0;
  }

  .notice-title,
  .notice-desc {
    font-size: 15px;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }
  }

  .notice-color-layer {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 18.3px;
    opacity: 0.3;
    left: 25%;
    top: 25%;
    filter: blur(32px);
  }

  .notice-title {
    font-weight: bold;
  }
}

.small .karaoke-line span {
  font-size: 14px;
}

.middle .karaoke-line span {
  font-size: 16px;
}

.big .karaoke-line span {
  font-size: 18px;
}

.karaoke-line {
  span {
    font-weight: bold;
    font-size: 16px;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }

    transition-duration: 330ms;
    transition-property: all;
    transition-timing-function: $defaultCubic;
  }

  span[data-active='0'] {
    transition-duration: 200ms !important;
  }

  span[data-type='1'] {
    color: #2d2d2d;
  }

  span[data-type='1'][data-passed='1'] {
    color: #afafaf;
  }

  span[data-type='2'] {
    color: #54c95e;
  }

  span[data-type='2'][data-passed='1'] {
    color: #b6e4ba;
  }

  span[data-type='3'] {
    color: #929da5;
  }

  span[data-type='3'][data-passed='1'] {
    color: #b6c5cf;
  }

  span[data-type='4'] {
    color: #22ade4;
  }

  span[data-type='4'][data-passed='1'] {
    color: #a3d9ee;
  }

  span[data-active='1'] {
    text-shadow: 0px 0px 4px #22ade4;
    color: #fff;
  }

  span[data-color] {
    opacity: 0.7;
  }

  span[data-color][data-active='1'] {
    opacity: 1;
  }

  span[data-color][data-passed='1'] {
    text-shadow: unset !important;
  }

  span[data-type='2'][data-active='1'] {
    text-shadow: 0px 0px 4px #54c95e;
    color: #fff;
    transform: rotate(5deg);
  }

  span[data-type='2'][data-active='1'][data-tick='0'] {
    text-shadow: 0px 0px 4px #54c95e;
    color: #fff;
    transition-timing-function: ease;
    transition-property: color, text-shadow;
  }

  span[data-type='2'][data-active='1'][data-tick='1'] {
    text-shadow: 0px 0px 4px #fff;
    color: #54c95e;
    transition-timing-function: ease;
    transition-property: color, text-shadow;
  }

  span[data-type='3'][data-active='1'] {
    text-shadow: 0px 0px 4px #929da5;
    color: #ffffff;
  }
}

.tritanomaly .karaoke-line {
  span[data-type='2'] {
    color: #54c99c;
  }

  span[data-type='2'][data-passed='1'] {
    color: #9cc7b6;
  }

  span[data-type='2'][data-active='1'] {
    text-shadow: 0px 0px 4px #54c99c;
  }

  span[data-type='2'][data-active='1'][data-tick='0'] {
    text-shadow: 0px 0px 4px #54c99c;
  }

  span[data-type='2'][data-active='1'][data-tick='1'] {
    color: #54c99c;
  }
}

.dark.tritanomaly .karaoke-line {
  span[data-type='2'] {
    color: #54c99c;
  }

  span[data-type='2'][data-passed='1'] {
    color: #265a46;
  }

  span[data-type='2'][data-active='1'] {
    text-shadow: 0px 0px 4px #54c99c;
  }

  span[data-type='2'][data-active='1'][data-tick='0'] {
    text-shadow: 0px 0px 4px #54c99c;
  }

  span[data-type='2'][data-active='1'][data-tick='1'] {
    color: #54c99c;
  }
}

.monochromacy .karaoke-line {
  span[data-type='1'] {
    color: #a3a3a3;
  }

  span[data-type='1'][data-passed='1'] {
    color: #e6e6e6;
  }

  span[data-type='2'] {
    color: #163118;
  }

  span[data-type='2'][data-passed='1'] {
    color: #759277;
  }

  span[data-type='3'] {
    color: #b7cddd;
  }

  span[data-type='3'][data-passed='1'] {
    color: #b6c5cf;
  }

  span[data-type='4'] {
    color: #207fa5;
  }

  span[data-type='4'][data-passed='1'] {
    color: #8cc3d8;
  }

  span[data-active='1'] {
    text-shadow: 0px 0px 4px #a7a7a7;
    color: #fff;
  }

  span[data-type='2'][data-active='1'] {
    text-shadow: 0px 0px 4px #759277;
  }

  span[data-type='2'][data-active='1'][data-tick='0'] {
    text-shadow: 0px 0px 4px #759277;
  }

  span[data-type='2'][data-active='1'][data-tick='1'] {
    text-shadow: 0px 0px 4px #fff;
  }

  span[data-type='3'][data-active='1'] {
    text-shadow: 0px 0px 4px #b3c0ca;
    color: #ffffff;
  }
}

.dark.monochromacy .karaoke-line {
  span[data-type='1'] {
    color: #5e5e5e;
  }

  span[data-type='1'][data-passed='1'] {
    color: #3d3d3d;
  }

  span[data-type='2'] {
    color: #6ed377;
  }

  span[data-type='2'][data-passed='1'] {
    color: #47774b;
  }

  span[data-type='3'] {
    color: #434949;
  }

  span[data-type='3'][data-passed='1'] {
    color: #3c4347;
  }

  span[data-type='4'] {
    color: #32a2ce;
  }

  span[data-type='4'][data-passed='1'] {
    color: #325b6d;
  }

  span[data-active='1'] {
    text-shadow: 0px 0px 4px #22ade4;
    color: #fff;
  }

  span[data-color] {
    opacity: 0.7;
  }

  span[data-color][data-active='1'] {
    opacity: 1;
  }

  span[data-color][data-passed='1'] {
    text-shadow: unset !important;
  }
}

.dark .karaoke-line {
  span[data-type='1'] {
    color: #979797;
  }

  span[data-type='1'][data-passed='1'] {
    color: #555555;
  }

  span[data-type='2'] {
    color: #3fc24a;
  }

  span[data-type='2'][data-passed='1'] {
    color: #38523a;
  }

  span[data-type='3'] {
    color: #6d7d7e;
  }

  span[data-type='3'][data-passed='1'] {
    color: #3c4347;
  }

  span[data-type='4'] {
    color: #27b2e9;
  }

  span[data-type='4'][data-passed='1'] {
    color: #274957;
  }

  span[data-active='1'] {
    text-shadow: 0px 0px 4px #22ade4;
    color: #fff;
  }

  span[data-color] {
    opacity: 0.7;
  }

  span[data-color][data-active='1'] {
    opacity: 1;
  }

  span[data-color][data-passed='1'] {
    text-shadow: unset !important;
  }
}

.karaoke-line .empty {
  margin-top: 16px;
  opacity: 0;
  user-select: none;
}

.karaoke-word em {
  position: absolute;
  font-size: 8px;
  text-align: center;
  margin-top: -7px;
}

.karaoke-line,
.karaoke-lyrics {
  margin: 0;
  display: block;

  span {
    display: inline-block;
    letter-spacing: -0.33px;
  }
}

.karaoke-line-wrap .karaoke-lyrics {
  font-weight: 300;
  margin-bottom: 7px;
  font-size: 14px;

  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

.dark .karaoke-line-wrap .karaoke-lyrics {
  color: #969696;
}

.llct-karaoke .error {
  text-align: center;

  img {
    margin-bottom: 20px;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    color: #a0a0a0;
  }

  @media screen and (max-width: $tablet) {
    h3 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
      color: #a0a0a0;
    }
  }
}

.karaoke-image {
  width: 100%;
}
