@import "__global";

.m-button {
  position: relative;
  display: grid;
  margin: auto;
  border-radius: 5px;
  width: 66px;
  height: 66px;

  @media screen and (max-width: $desktop) {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }

  transition: 0.4s color cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 10px;
  user-select: none;
}

.m-button:hover {
  color: #7c7c7c;
}

.m-button i {
  margin: auto;
}

.m-button p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.66px;
  color: #666;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.m-button::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: $shadow-1dp;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: visible;
}

.m-button:hover::after {
  opacity: 0.4;
}

.m-button:active::after {
  opacity: 1;
}

.m-button-enter-active {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.m-button-leave-active {
  display: none;
}
.m-button-enter,
.m-button-leave-to {
  position: absolute;
  transform: translateX(10px);
  opacity: 0;
}
.m-button-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
