@import "../global";

.m-button {
  position: relative;
  display: grid;
  margin: auto;
  border-radius: 8.3px;
  width: 66px;
  height: 66px;

  @media screen and (max-width: $desktop) {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }

  transition: 0.4s color cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 10px;
  user-select: none;
  outline: none;
}

.m-button:hover {
  color: #7c7c7c;
}

.m-button i {
  margin: auto;
  color: #c0c0c0;
  transition: 200ms color $standard-ease;

  @media screen and (max-width: $tablet) {
    font-size: 20px;
  }
}

.dark .m-button i {
  color: #8a8a8a;
}

.m-button.active i {
  color: #000;
}

.dark .m-button.active i {
  color: #fff;
}

.m-button p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.66px;
  color: #666;
  opacity: 0;
  transition: 200ms opacity $standard-ease;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.dark .m-button p {
  color: #fff;
}

.m-button:active {
  i, p {
    color: #000;
  }
}

.m-button:focus {
  i, p {
    color: rgb(75, 75, 75);
  }

  p {
    opacity: 1;
  }
}

.dark .m-button:focus {
  i, p {
    color: rgb(230, 230, 230);
  }

  p {
    opacity: 1;
  }
}


.dark .m-button:active {
  i, p {
    color: #fff;
  }
}

.m-button::after {
  content: "";
  position: absolute;
  border-radius: 8.3px;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: $shadow-1dp;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: visible;
}

.m-button:hover::after {
  opacity: 0.4;
}

.m-button:focus::after {
  opacity: 0.7;
}

.m-button:active::after {
  opacity: 1;
}

.m-button-enter-active {
  transition: opacity 0.4s $decelerate-ease;
}
.m-button-leave-active {
  display: none;
}
.m-button-enter,
.m-button-leave-to {
  position: absolute;
  transform: translateX(10px);
  opacity: 0;
}
.m-button-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
