@import '../global';

.llct-music-card {
  z-index: 10;

  background-color: #fff;
  border-radius: 13.3px;
  transform: translateY(0px);
  overflow: hidden;
  letter-spacing: -0.33px;
  box-shadow: $shadow-0dp;
  border: 1px solid rgba(0, 0, 0, 0.08);
  user-select: none;
  outline: none;

  padding: 0px 5%;

  display: -webkit-flex;
  display: flex;
  min-width: 70px;
  min-height: 45px;
  height: 82px;
  overflow: visible;

  @media screen and (max-width: $tablet) {
    height: 8vh;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    height: 72px;
  }

  &.grayOut .info, &.grayOut .control {
    opacity: 0.3;
  }
}

@keyframes music-skeleton {
  0%,
  100% {
    background-color: rgb(248, 248, 248);
    opacity: 1;
  }

  50% {
    background-color: rgb(218, 218, 218);
    opacity: 0.6;
  }
}

.llct-music-card.skeleton {
  backdrop-filter: unset;
  border: 0;
  animation: music-skeleton 2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  pointer-events: none;
}

@keyframes dark-music-skeleton {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

.dark .llct-music-card.skeleton {
  background: #242424;
  animation: dark-music-skeleton 2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.dark .llct-music-card {
  background-color: #242424;
}

.llct-music-card::after {
  content: '';
  z-index: -1;
  box-shadow: $shadow-2dp;
  border-radius: 13.3px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 150ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .llct-music-card::after {
  background-color: #474747;
}

.llct-music-card:hover::after {
  opacity: 0.6;
}

.llct-music-card:active::after {
  opacity: 1;
}

.llct-music-card.grayOut:hover::after {
  opacity: 0.1;
}

.llct-music-card.grayOut:active::after {
  opacity: 0.1;
}

.llct-music-card .info,
.llct-music-card .control {
  display: -webkit-flex;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.llct-music-card .info .llct-image.skeleton {
  background: #f0f0f0;
  opacity: 1;
}

.dark .llct-music-card .info .llct-image.skeleton {
  background: #333333;
}

.llct-music-card .info .text {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;

  h3,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }

  h3.skeleton {
    width: 150px;
    height: 15px;
    background: #f0f0f0;
    border-radius: 13.3px;
  }

  p.skeleton {
    width: 70px;
    height: 13px;
    background: #e9e9e9;
    border-radius: 13.3px;
    margin-top: 5px;
  }
}

.dark .llct-music-card .info .text {
  h3.skeleton {
    background: #333;
  }

  p.skeleton {
    background: #2e2e2e;
  }
}

.llct-music-card .info .text * {
  margin: 0;
}

.llct-music-card .control {
  margin-left: auto;

  @media screen and (max-width: $tablet) {
    padding: 10px;
  }
}

.dark .llct-music-card .control {
  .sub {
    color: rgba(255, 255, 255, 0.5);
  }
}

.llct-music-card .control .button {
  cursor: pointer;
  transition: 150ms opacity $standard-ease;
  margin: 0px 5px;
  display: flex;

  .material-icons {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
  }
}

.llct-music-card .control .button:hover {
  opacity: 0.6;
}

.llct-music-card .control .button:active {
  opacity: 0.4;
}

.llct-music-card .info img {
  width: calc(3vw + 4vh);
  height: calc(3vw + 4vh);

  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;

  @media screen and (max-width: $tablet) {
    max-width: 35px;
    max-height: 35px;
  }
}

.llct-music-card .info h3 {
  font-size: 13px;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: calc(9px + 0.3vh);
  }
}

.llct-music-card .info p {
  font-size: 11px;
  margin-top: -1px;
  color: #a0a0a0;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: calc(7px + 0.3vh);
  }
}

.dark .llct-music-card .info p {
  color: #7e7e7e;
}

//Music card transition

.llct-music-card-enter-active {
  transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}
.llct-music-card-leave-active {
  display: none;
}
.llct-music-card-enter,
.llct-music-card-leave-to {
  position: absolute;
  transform: translateY(10px);
  opacity: 0;
}
.llct-music-card-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
