@import '../../colors.scss';
@import '../../positions.scss';

@keyframes jiggle {
  0%,
  100% {
    transform: rotateZ(-1deg);
  }

  50% {
    transform: rotateZ(1deg);
  }
}

.llct-dark .llct-playlist-card {
  background: $dark-light-blue-accent;

  .summary {
    &:hover {
      background: lighten($dark-light-blue-accent, 4);
    }
  }

  .brief-summary {
    .title {
      color: $dark-accent;
    }

    input[type='text'] {
      border-bottom: 1px solid $dark-accent;
      color: $dark-accent;
    }

    .description {
      color: #dadada;
    }
  }

  .rich-summary {
    .button {
      fill: $dark-accent;
    }
  }
}

.llct-playlist-card {
  position: relative;
  background: $semi-accent;
  padding: 26px 36px;

  @media screen and (max-width: $mobile) {
    padding: 6px 16px;
  }

  &.skelecton {
    height: 120px;
  }

  display: flex;
  flex-direction: column;

  &[data-folded='false'] {
    gap: 16px;

    .summary {
      flex-direction: row;

      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }

      height: 64px;
    }

    .contents {
      max-height: unset;
    }

    transition: 0.23s all cubic-bezier(0.19, 1, 0.22, 1);
  }

  &[data-edit='true'] {
    .card-lists:not(.sort-ongoing) {
      .music-card {
        animation: jiggle 0.23s infinite;
      }
    }
  }

  .summary {
    display: flex;
    gap: 16px;
    height: 64px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 16px;

    &:hover {
      background: lighten($semi-accent, 4);
    }

    transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);

    @media screen and (max-width: $mobile) {
      padding: 26px 6px;
    }

    @media screen and (max-width: $wave-narrow) {
      flex-direction: column;

      height: 128px;
    }
  }

  .brief-summary {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;

    input[type='text'] {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $accent;
      color: $accent;
      letter-spacing: -1px;
    }

    .title,
    .description {
      margin: 0;
      letter-spacing: -1px;
    }

    .title {
      color: $accent;
      font-size: 20px;
      font-weight: bold;

      @media screen and (max-width: $mobile) {
        font-size: 18px;
      }
    }

    .description {
      font-weight: bold;

      @media screen and (max-width: $mobile) {
        font-size: 14px;
      }
    }

    position: relative;
  }

  .rich-summary {
    margin-left: auto;
    display: flex;
    gap: 32px;

    .length,
    .button {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: -1px;

      @media screen and (max-width: $mobile) {
        font-size: 12px;
      }

      margin: auto;
    }

    .musics {
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;

        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        position: relative;

        margin-left: -32px;

        &:first-child {
          margin-left: unset;
        }
      }
    }

    .button {
      cursor: pointer;
      fill: $accent;
    }

    .llct-playlist-image-group {
      display: flex;

      .text {
        margin: auto;
        margin-left: 16px;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  & > .contents {
    visibility: hidden;
    opacity: 0;
    height: 0;
    max-height: 0;
    transform: translateY(-10px);

    transition: 0.3s visibility cubic-bezier(0.19, 1, 0.22, 1),
      0.3s opacity cubic-bezier(0.19, 1, 0.22, 1),
      0.4s transform cubic-bezier(0.19, 1, 0.22, 1);

    &.show {
      visibility: visible;
      opacity: 1;
      height: auto;
      transform: translateY(0px);
    }
  }

  border-radius: 16px;
}

.llct-playlist-card {
  .contents {
    .card-lists {
      @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: $wave-narrow) {
        width: 95%;
        margin: auto;
      }

      @media screen and (min-width: $wave-narrow) {
      }

      @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
