<!DOCTYPE html>
html(lang="kr")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LLCT - 러브라이브 콜표 사이트
    meta(name="description" content="러브라이브! 시리즈 라이브 콜에 도움이 되는 콜표 모음 사이트입니다.")
    meta(name="tags" content="러브라이브,콜표,선샤인,아쿠아,뮤즈,니지가사키,μ's,Aqours,러브라이브 콜표, 러브라이브 선샤인 콜표")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://lovelivec.kr")
    meta(property="og:image" content="/assets/logo/landing.png")
    meta(property="og:title" content="LLCT - LoveLive Call Table")
    meta(property="og:description" content="러브라이브! 시리즈 콜에 도움이 되는 러브라이브 콜표, 응원법 모음 사이트입니다.")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="LLCT")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="theme-color" content="#fff")
    link(rel="manifest" href="/manifest.json")
    link(rel="apple-touch-icon" href="/assets/logo/logo_v2.png")
    link(rel="shortcut icon" href="/assets/logo/favicon.ico")
    style.
      @font-face {
        font-family: 'Material Icons';font-style: normal;font-weight: 400;font-display: swap;src: url(/assets/mi.woff2) format('woff2');
      }
      .material-icons {
        font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 24px;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block;white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;
      }

    script(src="mikan.js")
    link(rel="stylesheet" href="mikan.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap")
  body
    .app-wrap
      llct-app-wrap
        llct-app
    llct-menu-wrap
      llct-menu
    llct-modal
    llct-toast