<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="러브라이브! 시리즈 라이브 콜에 도움이 되는 콜표 모음 사이트입니다.">
    <meta name="keywords" content="러브라이브,콜표,선샤인,아쿠아,뮤즈,니지가사키,μ's,Aqours,러브라이브 콜표, 러브라이브 선샤인 콜표">
    <title>LLCT</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap" />
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
      data-cf-beacon='{"token": "170ce9071c644e5ab365fd356a0d69dc"}'></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#bfe0f2">
    <meta name="msapplication-TileImage" content="/images/logo/ms-icon-144x144.png">
    <meta name="theme-color" content="#bfe0f2">
  </head>
  <body>
    <div id="app"></app>
  </body>
</html>