@import '../../colors.scss';
@import '../../positions.scss';

.llct-dark .llct-player-banner {
  background: var(--color-background-dark-shade, $dark-light-blue-accent);
}

.llct-player-banner {
  position: relative;
  min-height: 75px;

  background: var(--color-background-shade, $light-blue-accent);

  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  border-radius: 16px;

  .contents {
    margin-top: auto;
    margin-bottom: auto;

    .title,
    .description {
      white-space: nowrap;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
