@import '../../positions.scss';
@import '../../colors.scss';

.llct-player-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.42);

  transition: 0.45s opacity cubic-bezier(0.215, 0.61, 0.355, 1);

  &.show {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;

    &.player-handle-touch {
      transition: unset;
    }

    opacity: var(--opacity, 1);
  }
}

@keyframes dashboard-column-popup {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.llct-dark .llct-player {
  background: var(--color-background-dark, $dark-background);
  color: var(--color-text-dark, $dark-accent);

  svg {
    fill: var(--color-text-dark, $dark-accent);
  }

  .controls {
    & > svg {
      &:hover {
        background: rgba(0, 0, 0, 0.22);
      }
    }
  }

  .mini-player {
    background: linear-gradient(
      to bottom,
      var(--color-background-dark, $dark-background),
      var(--color-background-dark, $dark-background),
      var(--color-background-dark-alpha-zero, $dark-background-alpha-zero)
    );
  }
}

.llct-player {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  display: block;
  z-index: 20000;
  isolation: isolate;
  height: 100%;

  @media screen and (max-width: $desktop) {
    height: 130%;
  }

  border-radius: 16px 0px 0px 16px;

  transition: 0.45s opacity cubic-bezier(0.19, 1, 0.22, 1),
    0.6s transform cubic-bezier(0.19, 1, 0.22, 1),
    0.4s background cubic-bezier(0.19, 1, 0.22, 1),
    0.4s color cubic-bezier(0.19, 1, 0.22, 1),
    0.6s border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  color: var(--color-text, $accent);

  svg {
    fill: var(--color-text, $accent);
  }

  opacity: 0;
  pointer-events: none;
  transform: translateX(90vw);

  &.show {
    opacity: 1;
    pointer-events: all;

    transform: translateX(0);

    @media screen and (max-width: $desktop) {
      border-radius: 0px;
      transform: translateY(var(--player-pull, 0));
    }
  }

  &.player-handle-touch {
    transition: 0.6s border-radius cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 16px 0px 0px 16px;

    @media screen and (max-width: $desktop) {
      border-radius: 16px 16px 0px 0px;
    }
  }

  &:not(.show) {
    border-radius: 16px 0px 0px 16px;

    @media screen and (max-width: $desktop) {
      border-radius: 16px 16px 0px 0px;
    }

    transition: 0.45s opacity 0.05s cubic-bezier(0.19, 1, 0.22, 1),
      0.9s transform cubic-bezier(0.19, 1, 0.22, 1),
      0.6s border-radius cubic-bezier(0.19, 1, 0.22, 1);
  }

  @media screen and (max-width: $desktop) {
    width: 100%;
    border-radius: 0px;

    transform: translateY(var(--player-pull, 90vh));
  }

  .close-area {
    position: fixed;
    cursor: grab;
    z-index: 10000;

    &:active {
      cursor: grabbing;
    }

    @media screen and (max-width: $desktop) {
      width: 100%;
      height: 8vh;
      left: 0;
      top: 0;
      display: flex;

      & > * {
        margin: auto;
      }
    }

    @media screen and (min-width: $desktop) {
      left: 5%;
      top: 5%;
    }

    & > svg {
      width: 32px;
      height: 32px;
    }
  }

  & > .contents {
    display: flex;
    position: relative;
    top: 5%;
    left: 5%;

    flex-direction: column;

    @media screen and (max-width: $desktop) {
      height: 90vh;
      overflow-y: auto;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  .mini-player {
    position: fixed;
    width: 90%;
    height: 85px;
    background: #fff;
    z-index: 100;

    background: linear-gradient(
      to bottom,
      var(--color-background, $background),
      var(--color-background, $background),
      var(--color-background-alpha-zero, $background-alpha-zero)
    );

    transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1),
      0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

    transform: translateY(-35px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    @media screen and (max-width: $desktop) {
      &.visible {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }

    display: flex;

    .left,
    .right {
      height: 50%;
      pointer-events: all;
    }

    .left {
      flex: 2;
      margin-top: 6px;
      margin-right: 16px;

      .controls {
        margin-top: unset;
        margin-left: unset;
      }

      svg {
        width: 26px;
        height: 26px;

        @media screen and (max-width: $mobile) {
          width: 24px;
          heght: 24px;
        }
      }
    }

    .right {
      flex: 8;
      display: flex;
      position: relative;

      .llct-slider-wrapper {
        width: 95%;
        margin-top: 8px;
        margin-bottom: auto;
      }
    }

    .equalizer-button {
      display: none;
    }
  }

  .dashboard,
  .lyrics {
    @media screen and (max-width: $desktop) {
      width: 85%;
      margin-left: 2.5%;
    }
  }

  .dashboard {
    position: relative;
    margin-top: 5%;

    @media screen and (min-width: $desktop) {
      min-width: 480px;
      max-width: 600px;
      margin-top: 8%;
    }

    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
      letter-spacing: -1px;
    }

    flex: 4;
  }

  .lyrics {
    position: relative;
    display: flex;

    .llct-call {
      margin: auto;
      width: 100%;
    }

    @media screen and (max-width: $desktop) {
      margin-top: 3vh;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 5%;
      width: 60%;
      height: 90vh;

      overflow: auto;
      flex: 5;
      margin-right: 8vw;
    }

    .no-call {
      height: 80vh;
    }
  }

  .dashboard-column {
    &:first-child {
      margin-top: unset;
    }

    margin-top: 3vh;

    .column-title {
      font-size: 20px;
      letter-spacing: -1px;
      margin-bottom: 1vh;
      font-weight: bold;
      opacity: 0.8;

      @media screen and (max-width: $mobile) {
        font-size: $mobile-header-size;
      }
    }

    animation: dashboard-column-popup 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .call-info-zone {
    margin-top: 4vh;
    display: flex;

    .player-banner-wrapper {
      overflow-x: auto;
      display: flex;
      gap: 8px;
      width: 100%;

      @media screen and (max-width: $tablet) {
        flex-direction: column;

        .title,
        .description {
          white-space: normal;
        }
      }
    }

    .llct-player-banner {
      flex: 1;
    }

    & + .upnext-zone,
    & + .equalizer-zone,
    & + .lyrics {
      margin-top: 3vh;
    }
  }

  .metadata-zone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'texts texts image'
      'texts texts image'
      'controls controls image';
    letter-spacing: -1px;
  }

  .upnext-zone {
    margin-top: 6vh;

    @media screen and (min-width: $desktop) {
      display: block;
    }

    @media screen and (max-width: $desktop) {
      display: none;
    }

    &[data-show='true'] {
      @media screen and (max-width: $desktop) {
        display: block;
      }
    }
  }

  .equalizer-zone {
    margin-top: 6vh;

    .no-eq-support {
      letter-spacing: -1px;

      & > span {
        display: flex;
      }

      svg {
        width: 18px;
        height: 18px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 3px;
      }
    }

    .equalizer-lack {
      h3 {
        margin-bottom: 1vh !important;
      }

      margin-bottom: 3vh;

      &:last-child {
        margin-bottom: unset;
      }

      .llct-slider-wrapper {
        margin-top: 10px;
      }
    }
  }

  .controls,
  .image {
    display: flex;
  }

  .texts {
    grid-area: texts;
    margin-top: auto;
    margin-bottom: 5px;
    max-width: 95%;

    .title {
      font-size: 20px;
      letter-spacing: -1px;

      @media screen and (max-width: $mobile) {
        font-size: 16px;
      }
    }

    .title,
    .artist {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .artist {
      font-size: 16px;
      font-weight: normal;
      opacity: 0.8;

      @media screen and (max-width: $mobile) {
        font-size: 12px;
      }
    }
  }
  .controls {
    grid-area: controls;
    margin-top: 5px;
    margin-bottom: auto;
    margin-left: -12px;

    @media screen and (max-width: $mobile) {
      margin-left: -12px;
    }

    & > svg {
      width: 24px;
      height: 24px;
      padding: 8px;
      border-radius: 50%;

      @media screen and (max-width: $mobile) {
        width: 24px;
        height: 24px;
      }

      margin-right: 5px;
      cursor: pointer;
      transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }

      &:last-child {
        margin-right: unset;
      }
    }
  }
  .image {
    grid-area: image;

    img {
      width: 180px;
      height: 180px;

      @media screen and (max-width: $tablet) {
        width: 150px;
        height: 150px;
      }

      @media screen and (max-width: $mobile) {
        width: 120px;
        height: 120px;
      }

      border-radius: 8px;

      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.22);

      margin: auto;

      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }
  }

  background: var(--color-background, $background);

  .llct-call {
    .llct-call-line:last-child {
      margin-bottom: 10vh;
    }
  }
}
