@import '../../positions.scss';

.llct-upnext {
  display: block;

  max-height: 300px;
  overflow: auto;

  @media screen and (min-width: $wave-narrow) {
    max-height: 40vh;
  }

  display: flex;
  flex-direction: column;
  gap: 32px;

  .upnext-section {
    position: relative;
  }

  .upnext-music {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.upnext-music {
  display: flex;

  border-radius: 16px;

  &[data-current='true'] {
    background-color: rgba(0, 140, 255, 0.12);
  }

  &:not([data-current='true']) {
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  .cover {
    width: 60px;
    height: 60px;
    border-radius: 8px;

    @media screen and (max-width: $mobile) {
      width: 45px;
      height: 45px;
    }
  }

  .info {
    display: grid;
    margin: auto 15px;

    letter-spacing: -1px;

    .music-title,
    .music-artist {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .music-title {
      font-size: 16px;

      @media screen and (max-width: $mobile) {
        font-size: 14px;
      }
    }

    .music-artist {
      font-size: 14px;
      opacity: 0.8;

      @media screen and (max-width: $mobile) {
        font-size: 12px;
      }
    }
  }
}
