@import "__global";

.ayumu-cards-holder span {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
}

.ayumu-cards-holder,
.ayumu-music-cards {
  @media screen and (max-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.ayumu-cards-holder span::-webkit-scrollbar {
  visibility: hidden;
  height: 0px;
}

.ayumu-music-cards span {
  user-select: none;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  @media screen and (max-width: $tablet) {
    grid-column-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: calc(#{$menu-height} * 1.5);
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ayumu-mod-select {
  display: -webkit-flex;
  display: flex;
  height: 4vh;
  margin: 3vh $title-mleft;
  user-select: none;

  @media screen and (max-width: $tablet) {
    margin: $title-mbottom $title-mobile-mleft;
  }
}

.ayumu-mod-buttons {
  display: -webkit-flex;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.66px;

  @media screen and (max-width: $tablet) {
    font-size: calc(1vw + 2vh);
  }
}

.ayumu-mod-buttons div {
  display: -webkit-flex;
  display: flex;
  margin-right: 20px;
  color: #151515;
  cursor: default;
}

.dark .ayumu-mod-buttons div {
  color: #fff;
}

.ayumu-mod-buttons .in_active {
  color: #bababa;
  cursor: pointer;
  transition: 50ms all cubic-bezier(0.4, 0, 0.2, 1);

  i {
    transition: 50ms transform cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    color: #9c9c9c;
    cursor: pointer;
  }

  &:hover > i {
    transform: translateX(2.5px);
  }

  &:active {
    color: #4b4b4b;
    cursor: pointer;
  }

  &:active > i {
    transform: translateX(5px);
  }
}

.dark .ayumu-mod-buttons .in_active {
  color: #4d4d4d;

  &:hover {
    color: #696969;
  }

  &:active {
    color: #acacac;
  }
}

.ayumu-mod-buttons div *,
.ayumu-mod-ext-buttons {
  margin-top: auto;
  margin-bottom: auto;
  font-size: calc(10px + 0.4vw + 0.4vh);
}

.ayumu-mod-ext-buttons {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.ayumu-mod-ext-buttons .spin {
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ayumu-mod-ext-buttons .spin:hover {
  transform: rotate(45deg);
  color: #363636;
}

.dark .ayumu-mod-ext-buttons .spin:hover {
  color: #c5c5c5;
}

.ayumu-mod-ext-buttons .spin:active {
  transform: rotate(360deg + 90deg);
  color: #969696;
}

.dark .ayumu-mod-ext-buttons .spin:active {
  color: #5c5c5c;
}

// Music card transition

.ayumu-music-card-enter-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.ayumu-music-card-leave-active {
  display: none;
}
.ayumu-music-card-enter,
.ayumu-music-card-leave-to {
  position: absolute;
  transform: translateY(10px);
  opacity: 0;
}
.ayumu-music-card-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
