@import "__global";

.group-select {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 0px 0px 10px 0px;
  z-index: 3;
}

.group-select::-webkit-scrollbar {
  visibility: hidden;
  height: 0px;
}

.group-btn,
.group-btn img {
  height: 30px;
}

.group-btn {
  position: relative;
  min-width: 100px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  display: -webkit-flex;
  display: flex;
  margin-right: 10px;
  transition: 150ms all $standard-ease;
}

.group-btn.active {
  background-color: rgba(204, 239, 254, .18);
}

.group-btn::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  border-radius: 10px;
  content: "";
  box-shadow: $shadow-2dp;
  transition: 150ms opacity $standard-ease;
  opacity: 0;
}

.dark .group-btn::after {
  background-color: rgba(204, 239, 254, .18);
}

.group-btn.active::after {
  opacity: 0.4;
}

.group-btn:hover::after {
  opacity: 0.6;
}

.group-btn:active::after {
  opacity: 1;
}

.group-btn * {
  margin: auto;
}

.chika-music-cards {
  user-select: none;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  @media screen and (max-width: $tablet) {
    grid-column-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: calc(#{$menu-height} * 1.5);
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
  margin-bottom: 5vh;
}
