@import '../positions.scss';

.card-lists {
  display: grid;
  gap: 16px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $wave-narrow) {
    width: 95%;
    margin: auto;
  }

  @media screen and (min-width: $wave-narrow) {
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
