@import "../global";

.kotori-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  @media screen and (max-width: $tablet) {
    grid-column-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: calc(#{$menu-height} * 1.5);
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  .llct-card {
    width: unset;
    max-width: unset;
    min-width: unset;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.kotori-playlist-add {
  display: flex;
  cursor: pointer;

  height: 222px;
  transition: 250ms all $standard-ease;
  border-radius: 13.3px;
  border: 1px solid rgba(0, 0, 0, 0.08);

  @media screen and (max-width: $tablet) {
    height: 182px;
  }

  &:hover {
    background-color: rgba(32, 32, 32, 0.12);
  }

  &:active {
    background-color: rgba(32, 32, 32, 0.24);
  }

  i {
    font-size: 42px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  i, p {
    margin: 0;
  }

  div {
    text-align: center;
    margin: auto;
    user-select: none;
    pointer-events: none;
  }
}

.dark .kotori-playlist-add {
  border: 1px solid rgba(255, 255, 255, 0.16);

  &:hover {
    background-color: rgba(110, 110, 110, 0.12);
  }

  &:active {
    background-color: rgba(110, 110, 110, 0.24);
  }
}