@import "__global";

.kotori-in-tab {
  pointer-events: none;

  .content,
  .bg {
    transition: 250ms all $decelerate-ease;
    opacity: 0;
  }

  .content {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 95%;
    padding: 3.5% 5%;
    margin-left: -1.25%;
    z-index: 20;
    transform: translateY(10px);
  }

  .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0);
  }
}

.kotori-in-tab.show {
  pointer-events: visible;

  .content,
  .bg {
    opacity: 1;
  }

  .content {
    transform: translateY(0px);
  }

  .bg {
    background-color: rgba(0, 0, 0, 0.12);
  }
}