@import "__global";

$album-wh: 60px;
$mobile-album-wh: 55px;

$button-wh: 32px;
$button-diff-wh: 28px;
$mobile-button-wh: 28px;
$mobile-button-diff-wh: 24px;

$thumb-size: 16px;

.player-dash {
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
}

.player-info {
  display: flex;

  @media screen and (max-width: $tablet) {
    grid-area: 1 / 1 / 2 / 4;
  }
}

.player-info-text {
  display: block;
}

.player-info-text p {
  letter-spacing: -0.66px;
  margin: 0;
}

.player-info-text .player-song-title {
  font-size: 22px;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
    margin-top: 4px;
  }
}

.player-info-text .player-song-artist {
  font-size: 14px;
  font-weight: bold;
  color: #c0c0c0;

  @media screen and (max-width: $tablet) {
    margin-bottom: auto;
  }
}

.player-info-image {
  width: $album-wh;
  height: $album-wh;
  border-radius: 50%;
  margin-right: 20px;

  @media screen and (max-width: $tablet) {
    width: $mobile-album-wh;
    height: $mobile-album-wh;
  }

  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
}

.player-info-image img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.player-left {
  width: 100vw;
  display: flex;

  flex: 2;

  @media screen and (max-width: $tablet) {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.player-progress {
  display: flex;
  flex: 5;

  @media screen and (max-width: $tablet) {
    grid-area: 2 / 1 / 3 / 5;
  }
}

@keyframes bar-animation {
  0% {
    background-position: 0% 50%;
    background-position: 100% 50%;
  }
}

.player-progress-inner {
  display: flex;
  width: 80%;
  margin: auto;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  .current,
  .left,
  .bar {
    margin: auto;
  }

  .current,
  .left {
    margin-top: -4px;
  }

  .current {
    margin-right: 1vw;
  }

  .left {
    margin-left: 1vw;
  }

  .bar {
    width: 100%;
    position: relative;
    height: 4px;

    cursor: pointer;

    @media screen and (max-width: $tablet) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .bar-current,
  .bar-bg,
  .bar-load,
  .bar-thumb {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .bar-current,
  .bar-bg,
  .bar-load {
    border-radius: 5px;
  }

  .bar-current {
    width: 0px;
    background-color: #1975fe;
    z-index: 7;
  }

  .bar-thumb {
    width: $thumb-size;
    height: $thumb-size;
    margin-top: calc(-#{$thumb-size} / 2.5);
    border-radius: 50%;
    background-color: #fff;
    z-index: 8;
    cursor: grab;
  }

  .bar-thumb:active {
    cursor: grabbing;
  }

  .bar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-shadow: $shadow-3dp;
    opacity: 0.3;

    transition: 250ms opacity $standard-ease;
  }

  .bar-thumb:hover::after {
    opacity: 0.7;
  }

  .bar-thumb:active::after {
    opacity: 1;
  }

  .bar-load {
    background: repeating-linear-gradient(
      -45deg,
      #5bc3d3,
      #5bc3d3 10px,
      #cdf6ea 10px,
      #cdf6ea 20px
    );
    background-size: 150% 100%;

    animation: bar-animation 10s linear infinite;
    z-index: 8;
  }

  .bar-bg {
    background-color: rgba(202, 202, 202, 0.35);
    z-index: 6;
  }
}
.player-btn {
  display: flex;
  margin-left: auto;
  flex: 1;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;

  @media screen and (max-width: $tablet) {
    grid-area: 1 / 4 / 2 / 5;
  }
}

.player-btn i.btns i {
  position: absolute;
  margin: auto;
}

.player-btn i {
  position: relative;
  margin: auto;
  padding: 5%;
  font-size: $button-wh;
  border-radius: 50%;
  cursor: pointer;
  width: $button-wh;
  height: $button-wh;
  opacity: 1;
  transition: 150ms opacity $standard-ease;
  user-select: none;

  @media screen and (max-width: $tablet) {
    font-size: $mobile-button-wh;
    width: $mobile-button-wh;
    height: $mobile-button-wh;
  }

  &.diff {
    font-size: $button-diff-wh;
    width: $button-diff-wh;
    height: $button-diff-wh;

    @media screen and (max-width: $tablet) {
      font-size: $mobile-button-diff-wh;
      width: $mobile-button-diff-wh;
      height: $mobile-button-diff-wh;
    }
  }
}

.player-btn i:hover {
  opacity: 0.6;
}

.player-btn i:active {
  opacity: 0.4;
}

.player-btn i::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.16);
  border-radius: 50%;
  transform: scale(0);
  transition: 150ms transform $standard-ease;
}

.player-btn i:hover::after {
  transform: scale(1);
  opacity: 1;
}

.player-btn i.player-close {
  background-color: rgba(196, 196, 196, 0.16);
  transition: 150ms color $standard-ease;
  margin-left: 15px;
}

.player-btn i.player-close:hover {
  color: #868686;
}

.player-btn i.player-close:active {
  color: #c0c0c0;
}
