@import "__global";

$album-wh: 60px;
$mobile-album-wh: 45px;

$close-btn-wh: 45px;
$mobile-close-btn-wh: 35px;

$button-wh: 32px;
$button-diff-wh: 28px;
$mobile-button-wh: 28px;
$mobile-button-diff-wh: 24px;

.player-dash {
  display: flex;
  padding-left: 2%;
  padding-top: 2%;
}

.player-info {
  display: flex;
}

.player-info-text {
  display: block;
}

.player-info-text p {
  letter-spacing: -0.66px;
  margin: 0;
}

.player-info-text .player-song-title {
  font-size: 22px;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}

.player-info-text .player-song-artist {
  font-size: 14px;
}

.player-info-image {
  width: $album-wh;
  height: $album-wh;
  border-radius: 50%;
  margin-right: 20px;

  @media screen and (max-width: $tablet) {
    width: $mobile-album-wh;
    height: $mobile-album-wh;
  }

  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
}

.player-info-image img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.player-left {
  width: calc(100% - #{$close-btn-wh} * 2);
  display: flex;

  @media screen and (max-width: $tablet) {
    width: calc(100% - #{$mobile-close-btn-wh} * 2);
  }
}

.player-control {
  display: flex;
  flex: 1;
}

.player-progress {
  display: flex;
  flex: 1;
}

@keyframes bar-animation {
  0% {
    background-position: 0% 50%;
    background-position: 100% 50%;
  }
}

.player-progress-inner {
  display: flex;
  width: 80%;
  margin: auto;

  .current,
  .left,
  .bar {
    margin: auto;
  }

  .current,
  .left {
    margin-top: -4px;
  }

  .current {
    margin-right: 1vw;
  }

  .left {
    margin-left: 1vw;
  }

  .bar {
    width: 100%;
    position: relative;
    height: 4px;
  }

  .bar-current,
  .bar-bg,
  .bar-load {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  .bar-current {
    width: 32px;
    background-color: #1975fe;
    z-index: 7;
  }

  .bar-load {
    background: repeating-linear-gradient(
      -45deg,
      #5bc3d3,
      #5bc3d3 10px,
      #cdf6ea 10px,
      #cdf6ea 20px
    );
    background-size: 150% 100%;
    
    animation: bar-animation 10s linear infinite;
    z-index: 8;
  }

  .bar-bg {
    background-color: rgba(202, 202, 202, 0.35);
    z-index: 6;
  }
}
.player-btn {
  display: flex;
  margin-left: auto;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.player-btn i.btns i {
  position: absolute;
  margin: auto;
}

.player-btn i {
  position: relative;
  margin: auto;
  padding: 5%;
  font-size: $button-wh;
  border-radius: 50%;
  cursor: pointer;
  width: $button-wh;
  height: $button-wh;
  opacity: 1;
  transition: 150ms opacity $standard-ease;
  user-select: none;

  @media screen and (max-width: $tablet) {
    font-size: $mobile-button-wh;
    width: $mobile-button-wh;
    height: $mobile-button-wh;
  }

  &.diff {
    font-size: $button-diff-wh;
    width: $button-diff-wh;
    height: $button-diff-wh;

    @media screen and (max-width: $tablet) {
      font-size: $mobile-button-diff-wh;
      width: $mobile-button-diff-wh;
      height: $mobile-button-diff-wh;
    }
  }
}

.player-btn i:hover {
  opacity: 0.6;
}

.player-btn i:active {
  opacity: 0.4;
}

.player-btn i::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.16);
  border-radius: 50%;
  transform: scale(0);
  transition: 150ms transform $standard-ease;
}

.player-btn i:hover::after {
  transform: scale(1);
  opacity: 1;
}

.player-close {
  width: $close-btn-wh;
  height: $close-btn-wh;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.16);
  display: flex;
  cursor: pointer;
  user-select: none;
  margin: auto;

  @media screen and (max-width: $tablet) {
    width: $mobile-close-btn-wh;
    height: $mobile-close-btn-wh;
  }
}

.player-close i {
  margin: auto;
  transition: 150ms color $standard-ease;
}

.player-close:hover i {
  color: #868686;
}

.player-close:active i {
  color: #c0c0c0;
}
