@import "__global";

.setsuna-in {
  display: block;
}

.setsuna-info {
  .header {
    display: flex;

    & > h1,
    & > h3 {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      letter-spacing: -0.66px;
    }

    & > h3 {
      margin-left: 10px;
      color: #c0c0c0;
    }
  }

  .bottom {
    p,
    i {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
    }
  }

  .link {
    position: relative;
    display: inline-block;
    color: #2d78e7;
    cursor: pointer;
  }

  .link:hover {
    color: #6495df;
  }

  .link:active {
    color: #79a5e7;
  }

  .mute {
    color: #c0c0c0;
  }
}

.setsuna-section {
  display: block;
  margin: 3vh auto;
  
  & > h3 {
    font-size: 24px;
    margin: 0;
  }
}

.setsuna-options {
  .setsuna-option {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    transition: 250ms border $standard-ease;
    padding: 10px 0px;

    p {
      margin: 0;
      font-weight: 500;
      flex: 9;
      margin-left: 40px
    }

    .control {
      margin: auto;
      flex: 1;
    }
  }
}

.dark .setsuna-option {
  border-bottom: 1px solid #323232;
}

.switch {
  width: 50px;
  height: 25px;
}
