@import "__global";

.llct-tab {
  position: absolute;
  width: 100%;
}

.llct-tab-over {
  z-index: 5;
  height: 100%;
  width: 100%;
}

.llct-tab-margin {
  margin-top: 0%;
  display: none;
}

.llct-tab-margin.hidden {
  display: block;
  margin-top: 2%;
}

.llct-tab-title {
  display: flex;
  margin-top: -54px;
  margin-left: $title-mleft;
  margin-bottom: $title-mbottom;

  @media screen and (max-width: $tablet) {
    margin-left: $title-mobile-mleft;
  }

  opacity: 0;
}

.llct-tab-title.active {
  margin-top: 30px;
  opacity: 1;
}

.llct-tab-title h1 {
  font-size: 36px;
  letter-spacing: -0.66px;
  color: #151515;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.llct-tab-title h1.hidden {
  color: transparent;
  opacity: 0;
}

.llct-tab-title h3 {
  margin-left: 11px;
  font-size: 16px;
  color: $mute;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}

.llct-tab-title h1,
.llct-tab-title h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.llct-tab-title-enter-active {
  transition: 250ms all $standard-ease;
}

.llct-tab-title-enter,
.llct-tab-title-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.llct-tab-title-enter-to {
  transform: translateX(0px);
  opacity: 1;
}

.llct-tabs-enter-active {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.llct-tabs-leave-active {
  position: absolute;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.llct-tabs-enter,
.llct-tabs-leave-to {
  position: absolute;
  transform: translateY(10px);
  opacity: 0;
}

.llct-tabs-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
