@import '../../positions.scss';
@import '../../colors.scss';

$min-card: 170px;

.llct-dark .music-card {
  background: darken($dark-semi-accent, 10);

  &:hover {
    background: lighten($dark-semi-accent, 2);
  }

  .content {
    img,
    &::before {
      background: darken($dark-semi-accent, 5);
    }
  }
}

$album-cover-size: 100px;
$mobile-album-cover-size: 75px;

.music-card {
  position: relative;
  min-width: $min-card;
  min-height: $min-card;
  background: $semi-accent;
  border-radius: 16px;
  display: flex;
  cursor: pointer;
  transition: 0.2s background cubic-bezier(0.19, 1, 0.22, 1),
    0.4s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: perspective(2000px);
  outline: none;

  &.no-transition {
    transition: unset;
  }

  @media screen and (max-width: $wave-narrow) {
    min-width: $min-card;
    min-height: $min-card;
  }

  $content-padding: 15px;

  .content {
    position: relative;
    display: grid;
    width: calc(100% - #{$content-padding * 2});
    letter-spacing: -2px;

    @media screen and (min-width: $wave-narrow) {
      img {
        margin-left: 10px;
        margin-top: 5px;
      }

      &::before {
        left: 10px;
        top: 5px;
      }
    }

    @media screen and (max-width: $wave-narrow) {
      img {
        margin-left: auto;
        margin-top: auto;
      }

      .lazyload-wrapper {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 0;
      }

      &::before {
        right: 0;
        bottom: 0;
      }
    }

    img,
    &::before {
      width: $album-cover-size;
      height: $album-cover-size;
      background: darken($semi-accent, 5);
    }

    img {
      border: 0;
      border-radius: 16px;
    }

    &::before {
      position: absolute;
      content: ' ';
      border-radius: 16px;
      transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
    }

    @media screen and (max-width: $mobile) {
      img,
      &::before {
        width: $album-cover-size;
        height: $album-cover-size;
      }
    }

    &[data-state='0'] {
      &::before {
        opacity: 1;
      }
    }

    &[data-state='1'],
    &[data-state='2'] {
      &::before {
        opacity: 0;
      }
    }

    .metadata {
      width: 100%;
      position: relative;
      margin-top: auto;

      @media screen and (max-width: $wave-narrow) {
        margin-top: unset;
      }

      .title,
      .artist {
        letter-spacing: -1px;

        @media screen and (max-width: $wave-narrow) {
          order: -1;
        }

        @media screen and (min-width: $wave-narrow) {
          text-align: end;
        }
      }

      $title-font-size: 18px;
      .title {
        margin: 10px auto auto 5px;
        font-weight: bold;
        font-size: $title-font-size;

        @media screen and (max-width: $wave-narrow) {
          font-size: $title-font-size - 2px;
        }

        @media screen and (min-width: $wave-narrow) {
          margin: 10px 5px auto auto;
          text-align: end;
        }
      }

      $artist-font-size: 16px;
      $artist-line-height: 22px;
      $mobile-artist-line-height: $artist-font-size;

      .artist {
        font-size: $artist-font-size;
        max-height: $artist-line-height * 2;
        line-height: $artist-line-height;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        margin-top: -3px;
        opacity: 0.8;

        @media screen and (min-width: $wave-narrow) {
          margin: 0px 5px auto auto;
          text-align: end;
        }

        @media screen and (max-width: $wave-narrow) {
          margin: 0px auto auto 5px;
          max-width: calc(
            100% - #{$album-cover-size + ($album-cover-size / 8)}
          );
          max-height: $artist-line-height * 6;
        }

        @media screen and (max-width: $mobile) {
          max-width: 100%;
          font-size: $artist-font-size - 2px;

          margin-bottom: $mobile-album-cover-size + 40px;
        }
      }
    }

    margin: $content-padding;

    color: $accent;
    font-size: 20px;
    font-weight: normal;

    @media screen and (max-width: $wave-narrow) {
      font-size: 18px;
      margin: 12px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }
  }
}
