@import '../../colors.scss';

$thumb-size: 16px;

.llct-progress-bar {
  position: relative;
  min-width: 100px;
  min-height: 4px;

  background: $dark-semi-accent;

  .thumb {
    position: absolute;

    width: $thumb-size;
    height: $thumb-size;
    top: $thumb-size / -2;
    left: $thumb-size / -2;
    border-radius: 50%;

    background: $dark-accent;

    transform: translateX(var(--translate, 0));
  }

  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transform: scaleX(var(--progress, 0));
    transform-origin: left;

    background: $accent;
    pointer-events: none;
  }
}
