@import '../../positions.scss';
$cover-animation-image-size: 55px;

@use "sass:math";

@keyframes cover-animation {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(#{$cover-animation-image-size * 3})
      rotate(calc(var(--direction, -1) * 90deg));
    opacity: 0;
  }
}

.llct-player-button-animation {
  position: fixed;
  right: calc(5vw);
  bottom: calc(5vh + #{$cover-animation-image-size} * 3);
  cursor: pointer;
  display: flex;
  pointer-events: none;
  opacity: 0;
  width: 100px;
  z-index: 9999;

  @media screen and (max-width: $mobile) {
    width: 80px;
  }

  img {
    border-radius: math.div($cover-animation-image-size, 6);
    width: $cover-animation-image-size;
    height: $cover-animation-image-size;
    margin: auto;
  }

  &.show {
    animation: cover-animation 1s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
  }
}
